ads-modal {

}
ads-modal .scroll-content {
  overflow: hidden;
}
ads-modal i {
    font-size: 7rem;
    margin-left: 91%;
}
.ads-modal-content{
  width:100vw;
  height: 100vh;
  margin-top: -10px;
  overflow: hidden;
}
