ads-modal {

}
ads-modal .scroll-content {
  overflow: hidden;
}
ads-modal i {
    font-size: 7rem;
    margin-left: 84%;
    top: 1rem;
    position: absolute;
}
.ads-modal-content{
  width:100vw;
  height: 100vh;
  // margin-top: -8rem;
  // overflow: hidden;
}
